__pycache__/
*.lprof
*.pyc
models/*.pyc
trained*
output*
*.npy
.ipynb_checkpoints/*
.ipynb_checkpoints
weights/
*.ipynb
data-HRRS/
mboutput/*.npy
mboutput/CrusadeP/*.pfm
mboutput/CrusadeP/*.txt
*.zip
run.sh
.vscode/
Hardwar4K_CFAPillar_Resize0.25/
LargeSize_Resize0.25/
LargeSize_Resize0.5/
choutput/
data-carla-highres/
data-cmunsh/
data-tartanair-backup/
data-tartanair-ori/
data-tartanair/
ttoutput/
